header{
    background-image: url('../../assets/bannerHD.png');
    background-size:cover;
    background-position: center;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    width: 100%;
    top: 0;
    z-index: -10;
}

header h1{
    color: white;
}